$body-font-family: "Trebuchet MS", Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "color_schemes/light";

$link-color: #2774AE;

.title, .main-content h1, .main-content h2 {
  color: #003B5C !important;
}

.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #8BB8E8 !important;
}